.d-flex {
    display: flex;
}

body {
    padding: 0;
    margin: 0;
}

.bg-purple-500 {
    --tw-bg-opacity: 1;
    background-color: rgba(139, 92, 246, var(--tw-bg-opacity));
}

.text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.h-screen {
    height: 100vh;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));

}

.text-purple-800 {
    --tw-text-opacity: 1;
    color: rgba(91, 33, 182, var(--tw-text-opacity));
}

.p-10 {
    padding: 2.5rem;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.flex-wrap { 
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.mt-4 {
    margin-top: 1rem;
}

.justify-around {
    justify-content: space-around;
}

.p-4 {
    padding: 1rem;
}

.rounded {
    border-radius: 0.25rem;
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gap-6 {
    gap: 1.5rem;
}

.mt-6 {
    margin-top: 1.5rem;
}